@model IEnumerable<nReddit.Models.Subreddit>

@{
    ViewBag.Title = "Kategorie";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Dodaj kategorię", "Create")
</p>

@foreach (var item in Model) {
    @Html.ActionLink(item.Name, "Details", new { id = item.SubredditID })
    <br />
}
