@model nReddit.Models.Subreddit

@{
    ViewBag.Title = "Usuwanie kategorii";
}

<h2>@ViewBag.Title</h2>

<h3>Czy jesteś pewien że chcesz usunąć kategorię?</h3>
<fieldset>
    <div class="display-field">
        Usuń kategorię @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Powrót", "Index")
    </p>
}
